@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.vis {
	opacity: 1;
}

.invis {
	opacity: 0;
}

div.line {
	position: absolute;
	z-index: 1;

	border-color: #FF0000;
}

.vertL {
	transform: translate(2.40em, 0.1em);
}
.vertM {
	transform: translate(7.48em, 0.1em);
}
.vertR {
	transform: translate(12.55em, 0.1em);
}

.horizTop {
	transform: translate(7.55em, -5em) rotate(90deg);
}
.horizMid {
	transform: translate(7.55em, 0.10em) rotate(90deg);
}
.horizBtm {
	transform: translate(7.55em, 5.18em) rotate(90deg);
}

.diagR {
	height: 19em;
	transform: translate(7.27em, -1.7em) rotate(45deg);
}
.diagL {
	height: 19em;
	transform: translate(7.57em, -1.8em) rotate(-45deg);
}